<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.idoltrainer.webvideo.mapper.LivesMapper">

    <resultMap id="BaseResultMap" type="com.idoltrainer.webvideo.domain.Lives">
            <id property="id" column="id" jdbcType="BIGINT"/>
            <result property="content" column="content" jdbcType="VARCHAR"/>
            <result property="anchorId" column="anchorId" jdbcType="BIGINT"/>
            <result property="visitId" column="visitId" jdbcType="BIGINT"/>
            <result property="totalNum" column="totalNum" jdbcType="BIGINT"/>
            <result property="createTime" column="createTime" jdbcType="TIMESTAMP"/>
            <result property="updateTime" column="updateTime" jdbcType="TIMESTAMP"/>
            <result property="endTime" column="endTime" jdbcType="TIMESTAMP"/>
            <result property="isLive" column="isLive" jdbcType="TINYINT"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,content,anchorId,
        visitId,totalNum,createTime,
        updateTime
    </sql>
</mapper>
